body {
    background-color: #7d7;
}

.container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    margin: 0;
    padding: 0;

    margin-bottom: 7px;
}